// body {
//   background-color: hsl(0, 0%, 96%);
//   overflow: hidden;
// }

// h1 {
//   color: #444;
//   font-size: 23px;
//   font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
// }

.game_area {
  // background-color: red;
  // box-sizing: border-box;
  height:262px;
  // line-height: 262px;
  // border: solid 8px red;
  // text-align: center;
  // font-weight: bold;
  // font-size: 60px;
}

#editor {
  height:310px;
  position:relative;
  float: left;
  width: 70%;  /** 横幅50% **/
  z-index:1;
}

.question_text {
  height:310px;
  position:relative;
  float: left;
  width: 30%;  /** 横幅50% **/
  z-index:2;
}
